html{
	color: #4f4f4f;
	border-top: 3px solid #000000;
}
body{
	/*border-top: 3px solid #2ecc71;*/
	margin: 0 auto;
	padding: 0px;
	background: #ffffff;
	font-size: 18px;
	/*background-color:#ecf0f1;*/
	width: 980px;
}

/*font-family: 'Archivo Narrow', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif;*/


header{
	margin-top: 40px;

}
#about p{
	text-align: right;
	font-size: 22px;
	word-spacing: 5px;
	margin-top: 100px;
	text-shadow: 0px 2px 1px #555;
}
nav{
	font-family: 'Archivo Narrow', sans-serif;
	float: right;
	margin-right: 100px;
}
nav a{
	color: #4f4f4f;
	text-decoration: none;
	list-style: none;
}
nav a:active{
	color: #4f4f4f;

}
nav a:hover{
	color: #2C2C2C;
	text-decoration: underline;
}
.header-img{
margin: 0 auto;
width: 700px;
margin-top: 30px;
}
a img{
	border: none;
}

.header-text{
	font: sans-serif;
	font-size: 20px;
	color: #4f4f4f;
	letter-spacing:30px;
	margin-left: 50px;
	margin-right:50px;
	text-align: center;
	font-weight: bold;

}
.caption{
    text-align: center;
    margin-top: 25px;
    font-style:italic;
    word-spacing: 30px;
    font-size: 20px;
    font-weight: bold;
}
.container{
width: 80%;
margin: 0 auto;

font-family: 'Archivo Narrow', sans-serif;
}	

.clear{clear: both;}

footer{
	margin-top: 100px;
	min-height: 200px;
}

hr{width: 70%}
.social{
		text-align: center;
		margin-top: 10px;
}
